@font-face {
  font-family: "Noto Sans";
  src: url("../static/fonts/notosans-regular.woff2") format("woff2"),
    url("../static/fonts/notosans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../static/fonts/notosans-medium.woff2") format("woff2"),
    url("../static/fonts/notosans-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../static/fonts/notosans-semibold.woff2") format("woff2"),
    url("../static/fonts/notosans-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../static/fonts/notosans-bold.woff2") format("woff2"),
    url("../static/fonts/notosans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ASSA Vesta";
  src: url("../static/fonts/AAVESLGT.woff2") format("woff2"),
    url("../static/fonts/AAVESLGT.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ASSA Vesta";
  src: url("../static/fonts/AAVESREG.woff2") format("woff2"),
    url("../static/fonts/AAVESREG.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ASSA Vesta";
  src: url("../static/fonts/AAVESBOL.woff2") format("woff2"),
    url("../static/fonts/AAVESBOL.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ASSA Vesta";
  src: url("../static/fonts/AAVESITA.woff2") format("woff2"),
    url("../static/fonts/AAVESITA.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "ASSA Vesta";
  src: url("../static/fonts/AAVESBIT.woff2") format("woff2"),
    url("../static/fonts/AAVESBIT.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

:root {
  /* ---------------------------------- */
  /* ------------ @FONTS --------------- */
  /* ---------------------------------- */

  /*
  FONT SIZE/LINE HEIGHT
  Calculation for the resizing font sizes and line height
  Calculations can be made using the FontSizes component in _devComponents
  -----------------------------------------------------------
  Slope = (maxFontSize - minFontSize) / (maxwidth - minwidth)
  Intersection = -minWidth * slope + minFontSize
  Prefered value = intersection[REM] + (slope * 100)[VW]
  Font size = clamp(minFontSize, prefered value, maxFontSize)
  */

  /* Mobile font size */
  /* Text size 1 */
  --font-size-1: clamp(0.6875rem, calc(0.6467rem + 0.19vw), 0.75rem);
  --line-height-size-1: clamp(1.125rem, calc(1.0842rem + 0.19vw), 1.1875rem);
  /* Text size 2 */
  --font-size-2: clamp(0.8125rem, calc(0.7717rem + 0.19vw), 0.875rem);
  --line-height-size-2: clamp(1.25rem, calc(1.1684rem + 0.39vw), 1.375rem);
  /* Text size 3 */
  --font-size-3: clamp(0.9375rem, calc(0.8967rem + 0.19vw), 1rem);
  --line-height-size-3: clamp(1.375rem, calc(1.3342rem + 0.19vw), 1.4375rem);
  /* Text size 4 */
  --font-size-4: clamp(1.1875rem, calc(1.1059rem + 0.39vw), 1.3125rem);
  --line-height-size-4: clamp(1.5rem, calc(1.4184rem + 0.39vw), 1.625rem);
  /* Text size 5 */
  --font-size-5: clamp(1.3125rem, calc(1.1494rem + 0.78vw), 1.5625rem);
  --line-height-size-5: clamp(1.625rem, calc(1.4211rem + 0.97vw), 1.9375rem);
  /* Text size 6 */
  --font-size-6: clamp(1.5rem, calc(1.1738rem + 1.55vw), 2rem);
  --line-height-size-6: clamp(1.75rem, calc(1.4238rem + 1.55vw), 2.25rem);
  /* Text size 7 */
  --font-size-7: clamp(1.9375rem, calc(1.5705rem + 1.75vw), 2.5rem);
  --line-height-size-7: clamp(2.125rem, calc(1.7172rem + 1.94vw), 2.75rem);
  /* Text size 8 */
  --font-size-8: clamp(2.875rem, calc(2.3041rem + 2.72vw), 3.75rem);
  --line-height-size-8: clamp(3rem, calc(2.3883rem + 2.91vw), 3.9375rem);

  --line-height-loose-size-1: var(--line-height-size-2);
  --line-height-loose-size-2: var(--line-height-size-3);
  --line-height-loose-size-3: var(--line-height-size-4);
  --line-height-loose-size-4: clamp(
    1.875rem,
    calc(1.7019rem + 0.5769vw),
    2.25rem
  );

  --font-family-heading: "ASSA Vesta";
  --font-family-body: "Noto sans";
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

@media (min-width: 835px) {
  :root {
    /* Text size 1 */
    --font-size-1: clamp(0.75rem, calc(0.15rem + 0.63vw), 0.8125rem);
    --line-height-size-1: clamp(1.1875rem, calc(0.5875rem + 0.63vw), 1.25rem);
    /* Text size 2 */
    --font-size-2: clamp(0.875rem, calc(-0.325rem + 1.25vw), 1rem);
    --line-height-size-2: clamp(1.375rem, calc(0.175rem + 1.25vw), 1.5rem);
    /* Text size 3 */
    --font-size-3: clamp(1rem, calc(-0.8rem + 1.88vw), 1.1875rem);
    --line-height-size-3: clamp(1.4375rem, calc(-1.5625rem + 3.13vw), 1.75rem);
    /* Text size 4 */
    --font-size-4: clamp(1.3125rem, calc(-0.4875rem + 1.88vw), 1.5rem);
    --line-height-size-4: clamp(1.625rem, calc(-1.975rem + 3.75vw), 2rem);
    /* Text size 5 */
    --font-size-5: clamp(1.5625rem, calc(-2.6375rem + 4.38vw), 2rem);
    --line-height-size-5: clamp(1.9375rem, calc(-3.4625rem + 5.63vw), 2.5rem);
    /* Text size 6 */
    --font-size-6: clamp(2rem, calc(-7.6rem + 10vw), 3rem);
    --line-height-size-6: clamp(2.25rem, calc(-9.75rem + 12.5vw), 3.5rem);
    /* Text size 7 */
    --font-size-7: clamp(2.5rem, calc(-8.3rem + 11.25vw), 3.625rem);
    --line-height-size-7: clamp(2.75rem, calc(-9.25rem + 12.5vw), 4rem);
    /* Text size 8 */
    --font-size-8: clamp(3.75rem, calc(-10.65rem + 15vw), 5.25rem);
    --line-height-size-8: clamp(3.9375rem, calc(-11.0625rem + 15.63vw), 5.5rem);
  }
}

body {
  font-family: var(--font-family-body);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  margin: 8px 0;
  color: #1a1a1a;
}

h1 {
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-size-8);
}

h2 {
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-size-7);
}

h4 {
  font-size: var(--font-size-5);
    line-height: var(--line-height-size-5);
    font-weight: var(--font-weight-regular);
}

h5 {
  font-size: var(--font-size-4);
    line-height: var(--line-height-size-4);
    font-weight: var(--font-weight-bold);
}

a {
  color: #484848;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 16px;
  margin-bottom: 16px;
}


/* ---------------------------------- */
/* ---------- @BACKGROUNDS ---------- */
/* ---------------------------------- */

.bg-accent {
  background-color: #00a0d0;
}

.bg-grey {
  background-color: #f4f4f4;
}

.bg-white {
  background-color: #ffffff;
}

.bg-complementary-blue {
  background-color: #DEE3E9;
}

.bg-complementary-blue-dark {
  background-color: #344A5C !important;
}

.bg-dark-grey {
  background-color: #e8e8e8;
}

/* ---------------------------------- */
/* ----------- @TEXT COLOR ---------- */
/* ---------------------------------- */

.color-white {
  color: #fff;
}

.color-white img {
  filter: invert(1);
}

.color-grey {
  color: #484848;
}

.color-dark-grey {
  color: #1a1a1a;
}

.color-complementary-blue-dark {
  color: #344A5C !important;
}

/* ---------------------------------- */
/* ----- @GENERAL BULDING BLOCKS ---- */
/* ---------------------------------- */

.wrapper {
  box-sizing: border-box;
  max-width: 1520px;
  box-sizing: content-box;
  padding: 32px 24px 48px 24px;
  margin: 0 auto;
}

.wrapper-small {
  max-width: 980px;
  margin: 0 auto;
}

.divider {
  height: 1px;
  width: 100%;
  padding: 0 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  background: #d1d1d1;
}

.image {
  width: 100%;
}

.eyebrow {
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  max-width: 100%;
  box-sizing: border-box;
  font-size: var(--font-size-3);
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  margin-top: 8px;
  display: inline-flex;
}

.button img {
  margin-left: 8px;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 48px 32px 64px 32px;
  }
}

@media (min-width: 1024px) {
  .button {
    padding: 14px 20px;
  }

  .wrapper {
    padding: 72px 64px 96px 64px;
  }
}

.label {
  position: absolute;
  font-size: 12px;
  line-height: 16px;
  background-color: rgba(26, 26, 26, 0.8);
  border-radius: 4px;
  padding: 8px;
  right: 12px;
  bottom: 16px;
  text-align: right;
}

.label p {
  margin: 0;
}

.head {
  display: flex;
  flex-direction: column;
}

.head__title {
flex: 1;
margin-right: 24px;
}

.head__text {
flex: 1;
}

@media (min-width: 1024px) {
  .head {
    flex-direction: row;
  }
}
/* ---------------------------------- */
/* --------- @HERO COMPONENT -------- */
/* ---------------------------------- */

.hero {
  width: 100%;
  min-height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero * {
  line-height: normal;
}

.text-bg-wrapper {
  padding: 8px 0;
}

.hero__content__title {
  display: inline 
 }

.hero__content__title,
.hero__content__text {
  background-color: rgba(26, 26, 26, 0.8);
  padding: 0 8px;
  max-width: 980px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.hero__content__title,
.hero__content__text,
.hero__content__button {
  position: relative;
  z-index: 99;
}

.hero__content__image {
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}

@media (max-width: 768px) {
  .hero__content__button, .hero__content__text {
    display: none;
  }
}

@media (min-width: 1024px) {
  .text-bg-wrapper {
    max-width:70%;
  }
  
  .hero {
    height: 900px;
  }
}
/* ---------------------------------- */
/* ----- @EDITORIAL COMPONENTS ------ */
/* ---------------------------------- */

/* Editorial 1 */
.editorial-1 h2 {
  margin-top: 24px;
}

.editorial-1 .button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-container__columns {
  display: flex;
  flex-direction: column;
}

.content-container__columns__col-1 {
  margin-right: 56px;
}

@media (min-width: 1024px) {
  .content-container__columns {
    flex-direction: row;
  }
}

/* Editorial 2 */
.image-container {
  position: relative;
}

.editorial-2 {
  display: flex;
}

.editorial-2 h2 {
  margin-top: 0;
}

.editorial-2 .image-container {
  margin-right: 56px;
}

.editorial-2 .image-container,.editorial-2 .content-container {
  flex: 1;
}

@media (min-width: 1024px) {
  .editorial-1 h2 {
    max-width: 70%;
    margin-top: 48px;
  }
}

/* Editorial 2 (Reversed) */

.editorial-2-reversed {
  flex-direction: row-reverse;
}
.editorial-2-reversed .image-container {
  margin-right: 0px;
}

.editorial-2 .content-container {
  margin-right: 56px;
}

/* Editorial 3 */

.editorial-3 {
  text-align: center;
}

/* ---------------------------------- */
/* -------- @CARD COMPONENTS -------- */
/* ---------------------------------- */

.card .button {
  padding-left: 0;
  padding-bottom: 0;
}

.card {
  background-color: #f4f4f4;
  font-size: var(--font-size-2);
  line-height: var(--line-height-size-2);
}

.card img {
  display: block;
}

.card h5 {
  margin-top: 0;
  text-decoration: 0;
}

.bg-grey .card {
  background-color: #fff;
}

.card-section-container, .card-section-container-two-col {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}

.card-section .card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 16px;
  border-radius: 4px;
}

.card-section .card .content-container {
  padding: 16px;
  flex: 2;
}

/* Accent card */
.card.accent-card {
  background-color: #00a0d0;
}

.card.accent-card a {
  color: #fff;
}

.card.accent-card .content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.accent-card img {
  height: 40px;
  width: 40px;
}

/* Media card */
@media (min-width: 768px) {
  .card-section-container {
    grid-template-columns: 1fr 1fr;
  }

  .card-section-container-two-col {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .card-section-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .card-section-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* ---------------------------------- */
/* -------- @FEATURED CONTENT ------- */
/* ---------------------------------- */

/* Featured content 2 */
.featured-content-wrapper {
  position: relative;
  margin-top: 80px;
}

.featured-content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1520px;
  margin: 0 auto;
  padding-top:0;
}

.featured-content-wrapper .overlap {
  width: 100%;
  height: 80px;
  position: absolute;
  top: -80px;
  left: 0;
  z-index: 99;
}

.featured-content .image-container {
  position: relative;
  grid-column: 1 / 6;
  grid-row: 1;
  z-index: 99;
  height: calc(100% + 80px);
  bottom: 80px;
}

.featured-content .image-container img {
  display: block;
  height:100%;
}

.featured-content .content-container {
  grid-column: 7 / 13;
  grid-row: 1;
}

.featured-content .content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -56px;
}

@media (min-width: 1024px) {
  .featured-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr ;
    padding-bottom:0;
  }
  .featured-content .content-container {
    margin-top: 0;
  }
}



/* ---------------------------------- */
/* ------------ @FORM ------------ */
/* ---------------------------------- */

.form {
  margin-top: 48px;
  max-width: 700px;
}

.form > * {
  margin-bottom: 48px;
}

.submit {
  border: 0;
}

.submit:hover {
  cursor:pointer;
  text-decoration: underline;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container input {
  padding: 14px 24px;
  border: 0;
  border-radius: 4px;
  border-bottom: 1px solid rgba(26, 26, 26, 0.2);
}


/* CUSTOM checkbox__mark */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox p {
  font-size: 16px;
  position: relative;
  top:4px;
}

.checkbox a {
  text-decoration: underline;
  color: #000;
  font-weight: 700;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox__mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 4px;
}

.checkbox__mark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkbox__mark:after {
  display: block;
}

.checkbox .checkbox__mark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*  CUSTOM SELECT */
.withLabel label {
  font-size: 13px;
  color: #1A1A1A;
  position: relative;
  left: 16px;
  bottom: 8px;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  font-size: 16px;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  min-width: 200px;
  border-radius: 0.25em;
  padding: 14px 24px;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
}

.select::after {
  content: "";
  position: absolute;
  right: 26px;
  transform: rotate(-50deg);
  width: 2px;
  height: 7px;
  background-color: #000;
  border-radius: 1px;
}

.select::before {
  content: "";
  position: absolute;
  right: 22px;
  transform: rotate(50deg);
  width: 2px;
  height: 7px;
  background-color: #000;
  border-radius: 1px;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

/* ---------------------------------- */
/* ------------ @UTILITY ------------ */
/* ---------------------------------- */


.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.body-medium,
.body-medium > p {
  font-size: var(--font-size-3);
  line-height: var(--line-height-loose-size-3);
}

.body-short p {
  font-size: var(--font-size-2);
  line-height: var(--line-height-size-2);
}

.body-small,
.body-small > p {
  font-size: var(--font-size-2);
  line-height: var(--line-height-loose-size-2);
}

.body-medium,
.body-medium > p {
  font-size: var(--font-size-3);
  line-height: var(--line-height-loose-size-3);
}

.body-large,
.body-large > p {
  font-size: var(--font-size-4);
  line-height: var(--line-height-loose-size-4);
}

/* ---------------------------------- */
/* -------------- @MEDIA ------------ */
/* ---------------------------------- */

@media (max-width: 768px) {
  .editorial-2 {
    display: block;
  }

  .editorial-2 section {
    margin-right: 0 !important;
  }

  .editorial-2 h2 {
    margin-top: 24px;
  }

  .card-section-1 .eyebrow {
    margin-top: 16px;
  }

  .card-section-1 .card,
  .card-section-container {
    flex-direction: column;
  }
}


/* Footer */

#footer {
  text-align: center;
  margin-top: 62px;
}

#footer.wrapper {
  padding-bottom: 0;
}

#footer p {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}

#footer img {
  max-width: 24px;
  margin-top: 8px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 92px;
}

.footer-links {
  margin-bottom: 92px;
}

.footer-links a {
  color: #1A1A1A;
  margin-bottom: 10px;
  /* display: block */
}

.footer-link {
  position: relative;
  padding: 0 .75rem;
  
}

.footer-link::after {
  position: absolute;
  content:"";
  width: 4px;
  height: 4px;
  border-radius: 100px;
  background-color: #1A1A1A;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%)
}

.footer-link:last-child::after { 
  display: none;
}

.footer-bar {
  background-color: #1a1a1a;
}

.footer-bar p { margin: 0;}

.footer-bar a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 300;
  padding: 0.75rem;
  margin: 0;
}

.footer-bar a svg { 
  margin-left: 10px;
  position: relative;
  top: 3px;
  max-width: 12px;
}

@media (max-width: 768px) {
  .footer-link::after {
    display: none;
  }
  .footer-links a {
    display: block
  }
  .footer-links, .social-media-icons { 
    margin-bottom: 48px;
  }
}